.home-dot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 1025px) {
    .home-dot-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .home-dot-container.reverse {
        flex-direction: row-reverse;
    }

    .home-content-subcards {
        margin: 32px;
    }

    .home-content-subcards-img {
        height: 325px;
        width: 484px;
    }

    .home-content-h3 {
        font-size: 50px;
        font-weight: 900;
        margin-top: -10px;
        margin-left: 14px;
    }

    .home-content-text {
        font-size: 18px;
        width: 450px;
        line-height: 1.7;
    }
}

@media only screen and (min-width: 1920px) {
    .home-content-subcards-img {
        height: 415px;
        width: 624px;
    }
}