.card-container {
    max-width: 152px !important;
    height: 240px !important;
    border-radius: 0 0 30px 0 !important;
    margin: 10px !important;
    box-shadow: 0 4px 10px 0 #5556 !important;
}

.card-container-image {
    padding: 15px !important;
    height: 77px !important;
    width: 77px !important;
    margin: 19px auto 0 !important;
    background-color: #158EE2 !important;
    border-radius: 50% !important;
}

.card-container-title {
    padding: 10px !important;
    margin: 2.42px 0 !important;
}

.card-title {
    font-size: 16px !important;
    font-weight: 700 !important;
    text-align: center !important;
    color: #626265 !important;
    margin: 15px 0 10px !important;
}

.card-text {
    font-size: 12px !important;
    text-align: center !important;
    color: #626265 !important;
}



/* Estilos para móviles pequeños */
@media only screen and (max-width: 480px) {}

/* Estilos para móviles en orientación horizontal */
@media only screen and (min-width: 481px) and (max-width: 767px) {}

/* Estilos para tabletas en orientación vertical */
@media only screen and (min-width: 481px) and (max-width: 768px) {}

/* Estilos para tabletas en orientación horizontal o pantallas pequeñas */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .card-container {
        max-width: 296px !important;
        height: 367px !important;
        padding: 0 15px !important;
        margin: 20px !important;
    }

    .card-container-image {
        padding: 25px !important;
        height: 114px !important;
        width: 114px !important;
        margin: 27px auto 0 !important;
    }

    .card-title {
        font-size: 30px !important;
        color: #626265 !important;
    }

    .card-text {
        font-size: 22px !important;

    }
}

/* Estilos para pantallas de escritorio medianas */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .card-container {
        max-width: 296px !important;
        height: 367px !important;
        padding: 0 15px !important;
        margin: 20px !important;
    }

    .card-container-image {
        padding: 25px !important;
        height: 114px !important;
        width: 114px !important;
        margin: 27px auto 0 !important;
    }

    .card-title {
        font-size: 30px !important;
        color: #626265 !important;
    }

    .card-text {
        font-size: 22px !important;

    }
}

/* Estilos para pantallas de escritorio grandes */
@media only screen and (min-width: 1201px) and (max-width: 1500px) {
    .card-container {
        max-width: 246px !important;
        height: 307px !important;
        padding: 0 15px !important;
        margin: 20px !important;
    }

    .card-container-image {
        padding: 20px !important;
        height: 94px !important;
        width: 94px !important;
        margin: 20px auto 0 !important;
    }

    .card-title {
        font-size: 24px !important;
        color: #626265 !important;
    }

    .card-text {
        font-size: 18px !important;

    }

}

/* Estilos para pantallas de escritorio grandes */
@media only screen and (min-width: 1501px) {
    .card-container {
        max-width: 296px !important;
        height: 367px !important;
        padding: 0 15px !important;
        margin: 20px !important;
    }

    .card-container-image {
        padding: 25px !important;
        height: 114px !important;
        width: 114px !important;
        margin: 27px auto 0 !important;
    }

    .card-title {
        font-size: 30px !important;
        color: #626265 !important;
    }

    .card-text {
        font-size: 22px !important;

    }

}