.home-container-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh !important;
}

.home-title {
    color: #fff;
    text-align: center;
    z-index: 11;
    margin-top: 180px;
    width: 360px;
    font-size: 50px;
}

.home-contact-button {
    z-index: 11;
    width: 320px;
    border-radius: 50px !important;
    margin-top: 50px !important;
}


/**************************** Media 1 ****************************/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .home-title {
        font-size: 60px;
        width: 500px;
    }
}



/**************************** Media 2 ***************************/
@media only screen and (min-width: 1025px) and (max-width: 1919px) {
    .home-title {
        font-size: 65px;
        width: 600px;
    }
}


/**************************** Media 3 ****************************/
@media only screen and (min-width: 1920px) {
    .home-title {
        font-size: 70px;
        width: 700px;
    }
}