.home-container-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh !important;
}

.home-title {
    color: #fff;
    text-align: center;
    z-index: 11;
    margin-top: 180px;
    font-size: 50px;
}

.home-contact-button {
    z-index: 11;
    width: 320px;
    border-radius: 50px !important;
    margin-top: 50px !important;
}