.home-container-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -1350px;
    z-index: 11;
}

.home-content-subcards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.home-title {
    color: #fff;
    text-align: center;
    z-index: 11;
    width: 360px;
    font-size: 50px;
}

.home-card-subtitle {
    color: #626265;
    font-weight: 100;
    font-size: 20px;
}

.home-dot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.home-content-subcards-img {
    height: 215px;
    width: 324px;
}

.home-contact-button {
    z-index: 11;
    width: 320px;
    border-radius: 50px !important;
    margin-top: 50px !important;
}

.home-subcards-button {
    z-index: 11;
    width: 320px;
    border-radius: 50px !important;
    margin-top: 30px !important;
    margin-bottom: 75px !important;
    box-shadow: 0 4px 8px 0 #626265 !important;
}

.home-content-h3 {
    color: #626265;
    font-size: 30px;
    margin: 12px 0;

}

.home-content-text {
    font-size: 14px;
    text-align: center;
    color: #626265;
    line-height: 1.5;
    width: 324px;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .home-title {
        font-size: 60px;
        width: 500px;
    }

    .home-card-subtitle {
        font-size: 30px;
    }


}

@media only screen and (min-width: 1025px) and (max-width: 1919px) {
    .home-title {
        font-size: 65px;
        width: 600px;
    }

    .home-card-subtitle {
        font-size: 40px;
    }

    .home-subcards-button {
        width: 200px;
        font-size: 30px;
    }

    .home-dot-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;

    }

    .home-content-subcards {
        margin: 32px;
    }

    .home-content-subcards-img {
        height: 325px;
        width: 484px;
    }

    .home-content-h3 {
        font-size: 50px;
        font-weight: 900;
        margin-top: -10px;
        margin-left: 14px;
    }

    .home-content-text {
        font-size: 18px;
        width: 450px;
        line-height: 1.7;
    }
}

@media only screen and (min-width: 1920px) {
    .home-title {
        font-size: 70px;
        width: 700px;
    }

    .home-card-subtitle {
        font-size: 40px;
    }

    .home-subcards-button {
        width: 250px;
        font-size: 30px;
    }

    .home-content-subcards-img {
        height: 415px;
        width: 624px;
    }

    .home-subcards-button {
        width: 200px;
        font-size: 30px;
    }

    .home-dot-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;

    }

    .home-content-subcards {
        margin: 32px;
    }
}