.gradient-presentation {
    height: 600px;
    width: 100%;
    position: relative;
    margin-top: -110px;
    z-index: 10;
    opacity: .7;
    border-radius: 25% 25% 35% 35% / 0% 0% 7% 7%;
    background: rgb(0, 22, 57);
    background: linear-gradient(180deg, rgba(0, 22, 57, 1) 0%, rgba(0, 22, 57, 0.6012998949579832) 13%, rgba(0, 22, 57, 0) 100%);
    ;
}


.background-container {
    width: 100%;
    flex-grow: 1;
    position: relative;
    top: -600px;
    z-index: 1;
}

.background-container-img {
    width: 100%;
    object-fit: cover;
    border-radius: 25% 25% 50% 50% / 0% 0% 7% 7%;
}

.title-presentation {
    position: relative;
    margin-top: -800px;
    text-align: center;
    color: #fff;
    font-size: 50px;
    z-index: 40;
}



/* Estilos para móviles pequeños */
@media only screen and (max-width: 480px) {}

/* Estilos para móviles en orientación horizontal */
@media only screen and (min-width: 481px) and (max-width: 767px) {}

/* Estilos para tabletas en orientación vertical */
@media only screen and (min-width: 481px) and (max-width: 768px) {}

/* Estilos para tabletas en orientación horizontal o pantallas pequeñas */
@media only screen and (min-width: 769px) and (max-width: 1024px) {}

/* Estilos para pantallas de escritorio medianas */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {}

/* Estilos para pantallas de escritorio grandes */
@media only screen and (min-width: 1201px) and (max-width: 1500px) {}

/* Estilos para pantallas de escritorio grandes */
@media only screen and (min-width: 1501px) {}