.descriptionB-container {
    position: relative;
    top: 40px;
    margin-bottom: 100px;
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .descriptionB-container {
        top: 500px;
        margin-bottom: 600px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .descriptionB-container {
        top: 500px;
        margin-bottom: 600px;
    }
}

@media only screen and (min-width: 1201px) {
    .descriptionB-container {
        top: 500px;
        margin-bottom: 600px;
    }
}