.health-navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px;
    color: #fff;
}

.health-navbar-menu, .health-navbar-menu-drawer {
    display: none;
}

.lang-form span {
    font-size: 0.83em;
}

@media (max-width:720px) {
    .health-navbar-menu, .health-navbar-menu-drawer {
        display: block;
    }


}