.health-navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px;
    color: #fff;
}

.health-navbar-menu {
    display: none;
}

@media (max-width:720px) {
    .health-navbar-menu {
        display: block;
    }
}