.dropDown {
    position: relative;
    cursor: pointer;
}

.dropDown .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border-radius: 10px;
    list-style: none;
    margin-top: 5px;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    min-width: 150px;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.dropDown:hover .dropdown-menu,
.dropDown .dropdown-menu:hover {
    opacity: 1;
    visibility: visible;
}

.dropDown .dropdown-menu li {
    margin: 0;
}

.dropDown .dropdown-menu li a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #333;
    font-size: 0.95rem;
    font-weight: 500;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

/* Efecto hover en los enlaces */
.dropDown .dropdown-menu li a:hover {
    background-color: #158EE2;
    color: #ffffff;
    border-radius: 10px;
}


.health-navbar-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    padding: 10px;
    color: #fff;
}

.health-navbar-menu, .health-navbar-menu-drawer {
    display: none;
}

.lang-form span {
    font-size: 0.83em;
}

.health-navbar-logo {
    width: '';
}

.health-navbar-menu-simple-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.health-navbar-menu-simple-ul li {
    list-style: none;
    text-align: center;
}

.health-navbar-menu-simple-ul li a {
    text-decoration: none;
    color: #fff;
}

.health-navbar-menu-simple-ul li a:hover {
    color: #158EE2;
}

.lang-form-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lang-form-span {
    display: none;
}

/* media query 1 */

@media only screen and (max-width:768px) {
    .health-navbar-menu, .health-navbar-menu-drawer {
        display: block;
    }

    .health-navbar-logo {
        width: 92%;
    }

    #health-navbar-menu-button {
        background-color: transparent;
        box-shadow: none;
        outline: none;
        border: none;
    }

    .health-navbar-menu-simple {
        display: none;
    }

    .lang-form-span {
        display: inline;
        margin-right: 5px;
    }
}


/* Media query 2 */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .health-navbar-menu-simple-ul li {
        margin: 8px;
        text-align: center;
    }

    .lang-form-div {
        width: 60px;
        margin-right: 5px;
    }

    .lang-form {
        margin: 0;
    }

    svg {
        color: #fff;
        margin-left: -30px;
    }
}


/* Media query 3 */
@media only screen and (min-width: 1024px) {
    .health-navbar-menu-simple-ul li {
        margin: 24px;
        text-align: center;
    }

    svg {
        color: #fff;
        margin-left: -30px;
    }

    .health-navbar-menu-simple-ul li {
        margin: 8px;
        text-align: center;
    }

    .lang-form-div {
        width: 60px;
        margin-right: 5px;
    }
}