.footer-container {
    background-color: #101C37;
    height: 355px;
    border-radius: 50% 50% 25% 25% / 11% 11% 0% 0%;
}

.footer-container-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 48px;
}

.footer-container-ul li {
    list-style: none;
    text-align: center;
    margin: 10px 0;
    color: #fff;
    font-size: 12px;
}

.footer-container-ul li a {
    text-decoration: none;
    color: #fff;
}

.footer-select {
    width: 35px !important;
    color: #fff !important;
    margin-right: 45px;
}


/* Estilos para móviles pequeños */
@media only screen and (max-width: 480px) {}

/* Estilos para móviles en orientación horizontal */
@media only screen and (min-width: 481px) and (max-width: 767px) {}

/* Estilos para tabletas en orientación vertical */
@media only screen and (min-width: 481px) and (max-width: 768px) {}

/* Estilos para tabletas en orientación horizontal o pantallas pequeñas */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .footer-container {
        padding-top: 40px;
        border-radius: 46% 46% 25% 26% / 41% 41% 0% 0%;
    }

    .footer-container-ul {
        flex-direction: row;
    }

    .footer-container-ul li {
        margin: 10px;
    }

    .footer-select {
        width: 65px !important;
        margin-right: 0;

    }
}

/* Estilos para pantallas de escritorio medianas */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .footer-container {
        padding-top: 40px;
        border-radius: 46% 46% 25% 26% / 59% 59% 0% 0%;
    }

    .footer-container-ul {
        flex-direction: row;

    }

    .footer-container-ul li {
        margin: 10px;
    }

    .footer-select {
        width: 65px !important;
        margin-right: 0;

    }
}

/* Estilos para pantallas de escritorio grandes */
@media only screen and (min-width: 1201px) {
    .footer-container {
        padding-top: 40px;
        border-radius: 46% 46% 25% 26% / 68% 68% 0% 0%;
    }

    .footer-container-ul {
        flex-direction: row;
        padding-top: 65px;

    }

    .footer-container-ul li {
        margin: 20px;
        font-size: 14px;

    }

    .footer-select {
        width: 65px !important;
        margin-right: 0;

    }
}