.container-breadcrumbs {
    position: relative;
    /* z-index: 70; */
    margin: auto;
}




/* Estilos para móviles pequeños */
@media only screen and (max-width: 480px) {
    .container-breadcrumbs {
        display: none;
    }
}

/* Estilos para móviles en orientación horizontal */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .container-breadcrumbs {
        display: none;
    }
}

/* Estilos para tabletas en orientación vertical */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .container-breadcrumbs {
        display: none;
    }
}

/* Estilos para tabletas en orientación horizontal o pantallas pequeñas */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .container-breadcrumbs {
        width: 80%;
        margin-top: -450px;
    }
}

/* Estilos para pantallas de escritorio medianas */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .container-breadcrumbs {
        width: 80%;
        margin-top: -450px;
    }
}

/* Estilos para pantallas de escritorio grandes */
@media only screen and (min-width: 1201px) and (max-width: 1500px) {
    .container-breadcrumbs {
        width: 70%;
        margin-top: -450px;
    }
}

/* Estilos para pantallas de escritorio grandes */
@media only screen and (min-width: 1501px) {
    .container-breadcrumbs {
        width: 64%;
        margin: auto;
        margin-top: -450px;
    }

    .breadcrumbs-text {
        font-size: 18px !important;
    }
}